{% extends 'base.html' %} {% block title %}VTF About{% endblock %} {% block content %}

<!-- About Section -->
<style>
  /* Custom CSS styles for the About page */
  /* Add your custom styles here */
</style>

<div class="container">
  <h2 class="text-center mt-5 mb-4">About Vats Trading Floor</h2>

  <!-- Image Section -->
  <div class="row">
    <div class="col-md-6">
      <img src="{{ about_url }}" class="img-fluid" alt="About Image" />
    </div>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet
        purus sed nunc consequat, vel bibendum libero sollicitudin. Integer quis
        metus eget tellus gravida dapibus. Nulla facilisi. Proin malesuada
        dapibus ligula, nec feugiat odio gravida vel. Integer nec ultricies
        risus.
      </p>
      <p>
        Phasellus ut est vel justo malesuada imperdiet a eu augue. Sed sit amet
        vestibulum nulla. Integer semper libero non dui varius luctus. Curabitur
        consectetur nisi vitae nulla cursus, et fringilla justo fermentum.
      </p>
    </div>
  </div>
</div>

{% endblock %}
