<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VTF{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 40px;
        }

        .navbar {
            margin-bottom: 10px; /* Reduced spacing for simplicity */
        }

        .image-banner {
            height: 300px; /* Reduced banner height */
            background: url('{{ banner_url }}') center/cover no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-align: center;
        }

        .banner-text {
            color: #000;
        }

        .blog-card {
            margin: 20px 0;
        }

        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 15px 0; /* Reduced footer height */
            text-align: center;
        }

        .tradingview-widget-container {
            margin-top: 70px; /* Adjusted margin for the trading view */
            height: 50px !important;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ logo_url }}" alt="Logo" height="80"> <!-- Reduced logo height -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item {% if request.path == '/journal/' %}active{% endif %}">
                        <a class="nav-link" href="{% url "journal" %}">Journal</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                        <a class="nav-link" href="{% url "contact" %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow"
                target="_blank"></a></div>
        <script type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [{
                        "proName": "FOREXCOM:SPXUSD",
                        "title": "S&P 500"
                    },
                    {
                        "proName": "FOREXCOM:NSXUSD",
                        "title": "US 100"
                    },
                    {
                        "proName": "FX_IDC:EURUSD",
                        "title": "EUR to USD"
                    },
                    {
                        "proName": "BITSTAMP:BTCUSD",
                        "title": "Bitcoin"
                    },
                    {
                        "proName": "BITSTAMP:ETHUSD",
                        "title": "Ethereum"
                    }
                ],
                "showSymbolLogo": true,
                "isTransparent": false,
                "displayMode": "adaptive",
                "colorTheme": "dark",
                "locale": "in"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->

    <!-- Image Banner -->
    <div class="image-banner">
        <div class="banner-text">
            <h1>Welcome to Vats Trading Floor</h1>
            <p>Discover amazing content and services.</p>
        </div>
    </div>

    <!-- Content Block -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Column 1: About Us -->
                <div class="col-md-4">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet purus sed nunc consequat,
                        vel bibendum libero sollicitudin.</p>
                </div>

                <!-- Column 2: Quick Links -->
                <div class="col-md-4">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url "index" %}">Home</a></li>
                        <li><a href="{% url "about" %}">About</a></li>
                        <li><a href="{% url "journal" %}">Journal</a></li>
                        <li><a href="{% url "contact" %}">Contact</a></li>
                    </ul>
                </div>

                <!-- Column 3: Contact Us -->
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>

            <!-- Copyright -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <div class="col-md-12 text-center">
                        <div class="col-md-12 text-center">
                            <p>Developed by Innovats | &copy; 2023 VTF - All rights reserved.</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
